/* ---------------- Paramètres ---------------- */
/* #region [rgba(0, 0, 0, 0.5)] */
@font-face {
  src: url('./font/Nunito/Nunito-VariableFont_wght.ttf');
  font-family: 'Nunito';
}
@font-face {
  src: url('./font/Nunito/NunitoSans-Italic.ttf');
  font-family: 'NunitoItalic';
  font-style: normal;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


.noSelectableText {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}


.NoPossible{
  display: none;
}

html{
  overflow-x: hidden;
  
}

body {
  background-color: black;
  text-align: center;
  color: white;
  font-family: 'Nunito';

  overflow-y: hidden;
  overflow-x: hidden;
}


h3 {
  font-family: 'Nunito';
  font-size: 23px;
}

p {
  font-family: 'Nunito';
  font-size: 20px;
}


a:link {
  color: white;

}

a:visited {
  color: white;

}

a:hover {
  color: white;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}


.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* #endregion */


/* ---------------- Loading Page ---------------- */
/* #region [rgba(0,0,0,0.5)]*/

@keyframes loadPage {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 0;
    pointer-events: none;
    display: none;
  }
}


.loadPage{
  background-color: #191919;
  width: 100%;
  height: 100%;

  left: 0;
  top: 0;

  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;



  z-index: 100;

  transition: all 0.25s ease-out;
}

.container {
  width:80px;
  height:80px;
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  gap:0.3rem;
  transform:rotate(-45deg);
}


.square {
  background-color:white;
  display:grid;
  place-items:center;
  border-radius:3px;
  animation:load 1.6s ease infinite;

  clip-path: polygon(6px 0%, calc(100% - 6px) 0%, 100% 0, 100% calc(100% - 6px), calc(100% - 6px) 100%, 0 100%, 0% calc(100% - 6px), 0% 6px);

}

@keyframes load {
  0% {
    transform:scale(1) rotate(0deg);
    background-color:#FF005C;
  }
  50% {
    transform:scale(0) rotate(45deg);
    background-color:#191919;
  }
  100% {
    transform:scale(1) rotate(0deg);
    background-color:#FF005C;
  }
}

.two {
  animation-delay:0.1s;
}


.three {
  animation-delay:0.2s;
}


.four {
  animation-delay:0.3s;
}


.five {
  animation-delay:0.4s;
}
/* #endregion */

/* ---------------- Background ---------------- */
/* #region [rgba(0,0,0,0.5)]*/
.background-image {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  display: block;
  
  width: 100%;
  height: 100%;
  transition: all 0.25s linear;

}

.background-image-blur {
  transition: all 0.25s linear;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  display: block;
  
  width: 100%;
  height: 100%;

  filter: blur(5px) brightness(80%);
} 


@keyframes Sphere1 {
  0% {
    top: 0;
  }
  50% {
    top: 40px;
    
  }
  100% {
    top: 0;
  }
}


#bg1{
  transition: all 0.25s linear;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;

  background-image: url('./Images/BookWallpaperPart1.webp');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#bg2{
  transition: all 0.25s linear;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;

  background-image: url('./Images/BookWallpaperPart2.webp');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;

  animation: 5s ease-in-out Sphere1 infinite;
}
#bg3{
  transition: all 0.25s linear;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;

  background-image: url('./Images/BookWallpaperPart3.webp');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;

  animation: 5s ease-in-out 2s Sphere1 infinite;
}
#bg4{
  transition: all 0.25s linear;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;

  background-image: url('./Images/BookWallpaperPart4.webp');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;

  animation: 5s ease-in-out 1s Sphere1 infinite;
}



.wrapper {
  z-index: 2;
	padding-bottom: 10px;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
}



.divider {
	position: relative;
	margin-top: 40px;
  margin-bottom: 40px;
	height: 1px;
}

.div-transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 15%;
	right: 15%;
	width: 70%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(72, 60, 97), transparent);
}
/* #endregion */

/* ---------------- Accueil : 3D ---------------- */
/* #region [rgba(255,255,255,0.3)]*/

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;


  height: 15%;


}
.headerItems{
  cursor: pointer;

  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.headerItems a{
  margin: 0 5%;
  font-family: 'Nunito';
  
  font-weight: 700;
  font-size: 24px;
}

.logo{
  background-image: url('./Images/Logo.webp');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;

  width: 5%;
  height: 100%;
}
/* #endregion */

/* ---------------- Accueil : Text ---------------- */
/* #region [rgba(255,255,255,0.3)] */
.accueilPage{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.accueil{
  display: flex;
  justify-content: space-between;

  position: relative;
}

.accueilText{
  width: 50%;
}
.accueilTitre{
  font-family: 'Nunito';
  font-size: 140px;
  text-align: left;

  font-weight: 700;

  line-height: 90%;

  letter-spacing: 0.055em;

  margin: 5% 0;
}
.accueilDescription{
  text-align: left;

  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05em;

  /* width: 78%; */
  width: 610px;

  display: flex;
  justify-content: space-between;
  
}

.barDeco{
  width: 1.5vw;
  height: 70px;
  

  border-radius: 50px;

  margin-right: 10%;

  background-color: #FF005C;
}



.Div3D{
  position: absolute;
  width: 110%;
  height: 250%;
  right: -50%;

  top:-50%;

  /* border: solid 5px black; */

  pointer-events: none;
}




.buttonSuite{
  
  justify-self: flex-end;

  font-size: 32px;
  font-weight: 700px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 2.5% 0;  

  position: relative;
}

.buttonSuite a {
  text-decoration: none;
}

.buttonSuite div {
  width: fit-content;
  padding: 1% 2.5%;

  border: solid 5px #FF005C;
  border-radius: 50px;

  cursor: pointer;

  position: relative;
}

#circleDiscover {
  width: 92%;
  height: 85%;
  top: -2.5%;
  left: 0%;

  opacity: 0;

  /* line-height: 40px; */
  border-radius: 100px;
  background: #fa194e;
  
  transition: all .15s linear;

  position: absolute;

  z-index: -1;

}

.buttonSuite div:hover #circleDiscover {
  width: 92%;
  height: 85%;
  top: -2.5%;
  left: 0%;
  opacity: 0.5;
}




.MoyenTitre {
  margin-top: 4%;
  text-align: left;
  font-size: 20px;
  font-family: 'Nunito';
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
  margin-bottom: 5%;
}

.PetitTitre {
  margin-top: 0%;
  text-align: left;
  font-size: 18px;
  font-family: 'Nunito';
  font-weight: 500;
  line-height: 38px;
  margin-bottom: 5%;
}








.row:after {
  content: "";
  display: table;
  clear: both;
}
/* #endregion */


/* ---- Accueil : Parties ---- */
/* #region [rgba(255,255,255,0.3)] */

.TitresParties{
  display: flex;
  justify-content: center;

  
}

.TitresParties:after {
  content: "";
  display: table;
  clear: both;
  

}



.TitresParties .Image {

  float: left;
  margin: 0 30px;

  transition: all 0.1s linear;
  display: block;
  height: calc(92px*1.5);
  width: calc(161px*1.5);
  border-radius: 10px;
  clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0% calc(100% - 20px), 0% 20px);

  background-color: red;

  display: flex;
  align-items: center;
  justify-content: center;
}

.TitresParties .Image div b{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -9px;

  font-family: 'Nunito';
  font-size: 25px;
  font-weight: 700;
}

.TitresParties .Image div{
  /* box-shadow: inset -5px 5px 5px rgba(0,0,0,0.2); */
  position: relative;

  clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0% calc(100% - 20px), 0% 20px);

  background-color: #252525;
  background: linear-gradient(-45deg, hsl(0, 0%, 10%), hsl(0, 0%, 15%));
  width: 98%;
  height: 98%;
}

.TitresParties .Image div:hover{
  box-shadow: inset -2px 2px 8px rgba(0,0,0,0.5);
  
}

.TitresParties #TitreDessinPart div:hover{
  transition: all 0.1s linear;
  cursor: pointer;
  
}

.TitresParties #TitreDessinPart{
  background-color: rgba(250, 119, 50, 0.38);
}


.TitresParties #TitreDessinPart div{
  transition: all 0.1s linear;
  background-color: rgba(250, 119, 50, 0.3);
  height: 92px;
  width: 161px;
  object-fit: cover;
  border-radius: 8px;
  text-align: center;
  font-family: 'Nunito';
  font-size: 20px;
}

/* --------- Lab --------- */

.TitresParties #TitreLabPart div:hover{
  transition: all 0.1s linear;
  cursor: pointer;
  background-color: #c7253161;
  background: linear-gradient(-45deg, hsl(0, 0%, 10%), hsla(356, 69%, 46%, 0.38));
}


.TitresParties #TitreLabPart div{
  transition: all 0.1s linear;
  
  /* height: 92px;
  width: 161px; */
  object-fit: cover;
  border-radius: 8px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 20px;
}
.TitresParties #TitreLabPart{
  background-color: rgba(199, 37, 49, 0.3);
}


/* --------- Python --------- */

.TitresParties #TitrePythonPart div:hover{
  transition: all 0.1s linear;
  cursor: pointer;
  background-color: #b753df61;
  background: linear-gradient(-45deg, #191919, #b753df61);
}


.TitresParties #TitrePythonPart div{
  transition: all 0.1s linear;
  
  /* height: 92px;
  width: 161px; */
  object-fit: cover;
  border-radius: 8px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 20px;
}

.TitresParties #TitrePythonPart{
  background-color: rgba(183, 83, 223, 0.3);
}

/* --------- HtmlCss --------- */

.TitresParties #TitreHtmlCssPart div:hover{
  transition: all 0.1s linear;
  cursor: pointer;
  background-color: #3979e761;
  background: linear-gradient(-45deg, hsl(0, 0%, 10%), hsla(218, 78%, 56%, 0.38));
}


.TitresParties #TitreHtmlCssPart div{
  transition: all 0.1s linear;
  
  /* height: 92px;
  width: 161px; */
  object-fit: cover;
  border-radius: 8px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 20px;
}

.TitresParties #TitreHtmlCssPart{
  background-color: rgba(57, 121, 231, 0.3);
}

/* --------- C# --------- */

.TitresParties #TitreCsPart div:hover{
  transition: all 0.1s linear;
  cursor: pointer;
  background-color: #80c0ee61;
  background: linear-gradient(-45deg, hsl(0, 0%, 10%), #80c0ee61);
}


.TitresParties #TitreCsPart div{
  transition: all 0.1s linear;
  
  /* height: 92px;
  width: 161px; */
  object-fit: cover;
  border-radius: 8px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 20px;
}
.TitresParties #TitreCsPart{
  background-color: rgba(128, 192, 238, 0.3);
}



#CodePythonPart {
  display: none;
}
#CodeHtmlPart {
  display: block;
}
#CodeCsPart {
  display: none;
}
#LabPart {
  display: none;
}
/* #endregion */



/* ---------------- WEB Part ---------------- */
/* #region [rgba(57, 121, 231, 0.3)] */


#CodeHtmlPart:after {
  content: "";
  display: table;
  clear: both;
}

#CodeHtmlPart .date {
  pointer-events: none;
  width: auto;
  padding: 2px 4px;
  background-color: #599de6;
  position: absolute;
  left: 80%;
  font-size: 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px ;
}

.Cours {
  pointer-events: none;
  width: auto;
  padding: 2px 4px;
  background-color: #ae5dd6;
  position: absolute;
  left: 2%;
  font-size: 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px ;
}

#CodeHtmlPart .ContCode {
  border: solid 1px #599de6;

  position: relative;
  margin: 1%;
  margin-bottom: 2vw;
  float: left;
  width: 30%;
  border-radius: 10px;

  /*background: rgb(31,31,31);*/
  background: linear-gradient(0deg, rgba(27,27,27,0) 20%, rgba(89, 157, 230,0.5) 100%);
  overflow-y: hidden;
  min-height: 300px;
  max-height: 300px;

}

#CodeHtmlPart .TextOnBg {
  margin: 15px;
  font-size: 15px;
  font: 'Newake';
}

#CodeHtmlPart .ImgContTop {
  height: 15%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: solid 5px #599de6;
  transition: all 0.05s linear;

}

#CodeHtmlPart .ImgContTop:hover {
  transition: all 0.05s linear;
  height: 20%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: solid 5px #599de6;

}
/* #endregion */


/* ---------------- ALGO Part ---------------- */
/* #region [rgba(183, 83, 223, 0.3)]*/

#CodePythonPart:after {
  content: "";
  display: table;
  clear: both;
}

#CodePythonPart .date {
  pointer-events: none;
  width: auto;
  padding: 2px 4px;
  background-color: #b753df;
  position: absolute;
  right: 10%;
  font-size: 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px ;
  z-index: 1;
}

#CodePythonPart .ContCode {
  border: solid 1px #b751e1;

  position: relative;
  margin: 1%;
  float: left;
  width: 30%;
  border-radius: 10px;

  /*background: rgb(31,31,31);*/
  background: linear-gradient(0deg, rgba(27,27,27,0) 20%, rgba(183,81,225,0.5) 100%);
  overflow-y: hidden;
  min-height: 300px;
  max-height: 310px;

}

#CodePythonPart .TextOnBg {
  margin: 15px;
  font-size: 15px;
  font: 'Newake';
}

#CodePythonPart .ImgContTop {
  height: 15%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: solid 5px #b751e1;

}


.khanacademy{
  margin: 1%;
  float: left;
  border-radius: 10px;

  display: flex;

  /*background: rgb(31,31,31);*/
  background: linear-gradient(0deg, rgba(27,27,27,0) 20%, rgba(183,81,225,0.5) 100%);
  
  /*rgba(120,90,255,0.5)*/
  
  border: solid 1px #a6e5;

  overflow-y: hidden;
  min-height: 300px;
  max-height: 300px;


  width: 96%;
  display: flex;
  flex-direction: column;
}

.khanacademy p {
  font-size: 15px;
}

.AlignItems{
  display: flex;

}

.AlignItems iframe {
  border-radius: 1vw;
  margin: 0;
  padding: 0;
  width: 20vw;
  height: 25vw;

  margin-bottom: 1vw;
}

.AlignItems *:not(iframe) {
  width: 30%;
  margin: 1%;
}

.PreviewKhanacademy{
  border-radius: 1vw;
  width: 100%;

}
/* #endregion */


/* ---------------- JEUX Part ---------------- */
/* #region [ rgba(128, 192, 238, 0.3) ] */


#CodeCsPart:after {
  content: "";
  display: table;
  clear: both;
}

#CodeCsPart .date {
  width: auto;
  padding: 2px 4px;
  background-color: #17adc6;
  position: absolute;
  left: 80%;
  font-size: 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px ;
}

#CodeCsPart .ContCode {
  border: solid 1px #17adc6;
  position: relative;
  margin: 1%;
  float: left;
  width: 30%;
  border-radius: 10px;

  /*background: rgb(31,31,31);*/
  background: linear-gradient(0deg, rgba(27,27,27,0) 20%, rgba(23, 173, 198,0.5) 100%);
  overflow-y: hidden;
  min-height: 300px;
  max-height: 310px;

}

#CodeCsPart .TextOnBg {
  margin: 15px;
  font-size: 15px;
  font: 'Newake';
}

#CodeCsPart .ImgContTop {
  height: 15%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: solid 5px #17adc6;

}
/* #endregion */


/* ---------------- Lab : 3D Part ---------------- */
/* #region [rgba(199, 37, 49, 0.3)] */

.indispo{display: none;}

#Design3DPart{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Design3DPart .MoyenTitre{
  align-self: flex-start;
}

#Design3DPart #Ligne-1 {
  display: block;
  width: 100%;
}
#Design3DPart #Ligne-2 {
  display: none;
  width: 100%;

  align-items: center;
  justify-content: center;
}


#Design3DPart .Image {
  transition: all 0.1s linear;
  display:block;
  height: 226px;
  width: 161px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5%;

  clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0% calc(100% - 20px), 0% 20px);
}

#Design3DPart .Image img{

  height: 226px;
  width: 161px;
  object-fit: cover;
  border-radius: 5%;

}




#Design3DPart .colonne {
  float: left;
  width: 16%;
  font-size: 17px;
  top: -50px;
}




#Design3DPart .Butt {
  position: relative;
  width: 35px;
  height: 226px;
  opacity: 0.5;
  transition: all 0.1s linear;

}



#Design3DPart .Butt:hover{
  transition: all 0.1s linear;
  opacity: 1;
}


#Design3DPart .Butt div {
  font-size: 40px;
  font-weight: bold;
  margin-top: 240%;
  color: #fa194e;

}

#Design3DPart .Butt:hover {
  cursor: pointer;
}



#Design3DPart .Element {
  height: 226px;
  width: 14%;
  position: relative;
  margin-left:0.5%;
  margin-right: 0.5%;

}


#Design3DPart .Titre-Image {
  pointer-events: none;
  transition: all 0.1s linear;
  position: absolute;
  text-align: left;
  font-style: italic;
  font-weight: 900;
  margin-left: 5px;
  top: 70%;
  visibility: hidden;
  opacity: 0;
  text-shadow: 0px 1px 1px black;

}

#Design3DPart .Image:hover + .Titre-Image{
  transition: all 0.1s linear;
  visibility: visible;
  opacity: 1;
}


#Design3DPart .Image:hover {
  transition: all 0.1s linear;
  filter: blur(1px) brightness(90%);
  border-radius: 5%;
  transform: scale(1.02);
  cursor: pointer;
}

#Design3DPart .date {
  pointer-events: none;
  position: absolute;
  top: 89%;
  text-align: left;
  left: 5px;
  background-color: #fa194e;
  font-style: italic;
  font-weight: 900;
  font-size: 12px;
  padding: 2% 4%;
  border-radius: 5%;

}


#Design3DPart .Image-Fond {
  position: relative;
  width: 1160px;
  height: 426px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;

}


#Design3DPart .colonne-Image {

  float: left;
  width: 40%;
  margin-left: 40px;
  margin-top: 40px;

}


.Octane {
  background-image: url('./Images/3D/la_octane.webp');
  border-radius: 10px;
  width:514px;
  height:290px;
  background-size: cover;
  transition: all 0.2s linear;
}

.Octane:hover{
  transition: all 0.2s linear;
  background-image: url("./Images/3D/Octane_wire.webp")
}

/* #endregion */


/* ---------------- Lab : DESSIN Part --------------- */
/* #region [ rgba(199, 37, 49, 0.3) ] */



.ImageDessinPadre{
  position: relative;

  display: flex;
  justify-content: left;
  gap: 1vw;

}



.ImageDessin{
  
  
  object-fit: contain;
  object-position: center;

  height: 10vw;

  cursor: pointer;

  /* clip-path: polygon(1.5vw 0%, calc(100% - 1.5vw) 0%, 100% 0, 100% calc(100% - 1.5vw), calc(100% - 1.5vw) 100%, 0 100%, 0% calc(100% - 1.5vw), 0% 1.5vw); */

  border-radius: 10px;
  clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0% calc(100% - 20px), 0% 20px);

  filter: brightness(0.9) grayscale(60%);

  transition: all 0.1s linear;

}

.ImageDessin:hover{
  filter: none;

  transform: scale(1.01);
}


.ClassDImage{
  margin-bottom: 1vw;
  position: relative;
  width: fit-content;
  height: fit-content;
}


#Design2DPart .date {
  pointer-events: none;
  position: absolute;


  bottom: 0.5vw;
  left: 0.5vw;

  background-color: #fa194e;

  font-style: italic;
  font-weight: bold;
  font-size: 12px;

  padding: 0.2vw 0.7vw;
  border-radius: 5%;

}


#Design2DPart .Titre-Image {
  pointer-events: none;
  transition: all 0.1s linear;
  position: absolute;

  font-style: italic;
  font-weight: bold;

  bottom: 2vw;
  left: 0.5vw;

  visibility: hidden;
  opacity: 0;

  text-shadow: 0px 1px 1px black;

}

#Design2DPart .ImageDessin:hover ~ .Titre-Image{
  transition: all 0.1s linear;
  visibility: visible;
  opacity: 1;
}




.ItemsDessins{
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

.ImagePreview {

  width: fit-content;
  height: fit-content;

  border-radius: 1vw;


}

.ImagePreview img.absolute {
  left: 50%;
  margin-left: -200px;
  position: absolute;

  
}

.ImagePreview img{
  

  margin-top: 1vw;
  border-radius: 1vw;

}




.closebtn{
  top: 1vw;
  left: 1vw;
  cursor: pointer;
  position: absolute;

  font-size: 2vw;
  width: 2vw;
  height: 2vw;
}



.arrowUp {

  transition: all 0.25s linear;

  position:fixed;

  right: 5%;
  bottom: 5%;
  
  font-size: 30px;

  border: solid 5px #fa194e;
  border-radius: 100px;

  padding: 0.5%;

  opacity: 0;
}

#circle {
  width: 10px;
  height: 10px;

  opacity: 0;

  line-height: 40px;
  border-radius: 50%;
  background: #fa194e;
  
  transition: all .15s ease-Out;

  position: absolute;


  left: 40%;
  top: 40%;

  z-index: -1;

}

.arrowUp:hover #circle {
  width: 105%;
  height: 105%;
  opacity: 0.5;
  top: -2.5%;
  left: -2.5%;
}


/* #endregion */



/* ---------------- A propos de moi ---------------- */
/* #region */

.aProposDiv{
  left: 0;
  top: 0;

  position: fixed;

  width: 100vw;
  height: 100vh;
  

  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  display: none;

  
}

.backgroundDiv{
  width: 100%;
  height: 100%;

  z-index: -1;

  background-color: #191919;
  opacity: .5;

  position: absolute;

  pointer-events: none;

  

}

.presentDiv{
  width: 40%;
  height: 80%;

  background-color: #fffc;

  color: white;

  clip-path: polygon(40px 0%, calc(100% - 40px) 0%, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0% calc(100% - 40px), 0% 40px);

  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Cross{
  position: absolute;
  top: .5%;
  right: 2.5%;
  color: white;

  font-size: 50px;

  cursor: pointer;
}

.Cross:hover{
  transform: scale(1.05);
}

.contour{
  position: relative;

  width: 98.5%;
  height: 99%;
  background-color: #191919;
  clip-path: polygon(40px 0%, calc(100% - 40px) 0%, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0% calc(100% - 40px), 0% 40px);
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.descriptionParagraphe{
  width: 90%;
  margin: 2%;

  text-align: center;

  max-height: 70%;
}

.social {
  display: flex;
  width: 50%;

  position: absolute;

  bottom: 0;

  margin: 2%;
  margin-bottom: 5%;

  display: flex;
  justify-content:space-evenly;
}

.social a {
  margin: 5%;
  
}

.linkedin {
  background-image: url("https://labreunion.fr/wp-content/uploads/2019/12/linkedin-logo.png");
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.codepen {
  background-image: url("https://icon-library.com/images/codepen-icon/codepen-icon-26.jpg");
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.mail {
  background-image: url("https://premanon.com/wp-content/uploads/2018/03/logo-mail-blanc.png");
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 50px;
}


.titreAPropos {
  margin-bottom: 12%;

  font-size: 40px;
  font-weight: 900;

  margin-left: 2%;
}


/* #endregion */
