<div id="notification-container"></div>

<script>
  import Notification from './Notification.svelte';

  let activeNotifications = [];

  function showNotification(message, type = 'info', duration = 3000) {
    const position = activeNotifications.length;
    const notification = new Notification({
      target: document.body,
      props: { 
        message, 
        type, 
        duration, 
        position: position 
      }
    });

    activeNotifications.push(notification);

    notification.$on('notificationClosed', () => {
      const index = activeNotifications.indexOf(notification);
      if (index > -1) {
        activeNotifications.splice(index, 1);
      }
      updateNotificationPositions();
      notification.$destroy();
    });
  }

  function updateNotificationPositions() {
    activeNotifications.forEach((notification, index) => {
      notification.$set({ position: index });
    });
  }

  // Expose la fonction globalement
  window.showNotification = showNotification;
</script>